<section><h3 id="about-me">Profile</h3><hr class="bar"/><div class="about-lock"><div ontouchstart="this.classList.toggle('hover');" class="flip-container"><div class="flipper"><div class="front"><div class="face-img"></div></div><div class="back"><div class="face1-img"></div></div></div></div><div class="glyph-icon flaticon-cogwheel28"></div><div class="glyph-icon flaticon-computer1"></div><div class="glyph-icon flaticon-hosting"></div><div class="glyph-icon flaticon-computers13"></div></div><div class="blurb">
    <h6>
        関西在住．
        Human-robot interactionを研究対象に，主に公共空間・プライベート空間における<br>ネットワークロボットの日常利用を促進するためのインタラクション設計・実装・評価を行った．
        <br>
        社会実装の例としてユーザとコミュニケーションを行うスマートフォン・ネットワークロボット向け<br>アプリケーションの開発・ローンチ・法人設立の経験あり．
        2021年、<br>奈良先端科学技術大学院大学(通称NAIST)にて博士（工学）を取得．
    </h6>
    <!-- <p>
        Let’s build a small room for him on the roof and furnish it with a bed,<br>
        a table, a chair, and a lamp. Then he will have a place<br>
        to stay whenever he comes by.
    </p> -->
    <!-- <h5> > >> HIGHER << < </h5> -->
    <!-- <p>
        あの方のために、屋上に小さなお部屋を造って差し上げたいと思います。<br>
        中には、寝台、机、いす、それに燭台を置きましょう。そうすれば、<br>
        おいでになるたびに、そこでゆっくりお休みになれますから。
    </p> -->
</div><div class="skill-lock"></div></section>
