<section><h2 id="about-me">About Myself</h2><hr class="bar"/><div class="about-lock"><div ontouchstart="this.classList.toggle('hover');" class="flip-container"><div class="flipper"><div class="front"><div class="face-img"></div></div><div class="back"><div class="face1-img"></div></div></div></div><div class="glyph-icon flaticon-cogwheel28"></div><div class="glyph-icon flaticon-computer1"></div><div class="glyph-icon flaticon-hosting"></div><div class="glyph-icon flaticon-computers13"></div></div><div class="blurb">
    <h5>2 プロフィール </h5>
    <p>
        関西在住．
        研究対象はhuman-robot interactionの分野で，主に公共空間・プライベート空間におけるネットワークロボットの日常利用を促進するためのインタラクション設計・実装・評価を行なった．
        社会実装の例としてユーザとコミュニケーションを行うスマートフォン・ネットワークロボット向けアプリケーションの開発・ローンチ・法人設立の経験あり．
    </p>
    <!-- <p>
        Let’s build a small room for him on the roof and furnish it with a bed,<br>
        a table, a chair, and a lamp. Then he will have a place<br>
        to stay whenever he comes by.
    </p> -->
    <!-- <h5> > >> HIGHER << < </h5> -->
    <!-- <p>
        あの方のために、屋上に小さなお部屋を造って差し上げたいと思います。<br>
        中には、寝台、机、いす、それに燭台を置きましょう。そうすれば、<br>
        おいでになるたびに、そこでゆっくりお休みになれますから。
    </p> -->
</div><div class="skill-lock"></div></section>
