<section class="section-contact">
    <h3 id="Details">Contact Details</h3>
    <hr class="bar"/>
    <div class="social-links">
        <a href="https://www.facebook.com/shohchan6" style="font-size: 1.5em">
            <div class="glyph-icon flaticon-facebook3"></div>
        </a>
        <a href="https://www.linkedin.com/in/shogo-nishimura-8a8859a4/" style="font-size: 1.5em">
            <div class="glyph-icon flaticon-linkedin"></div>
        </a>
        <a href="https://github.com/shogo-ni" style="font-size: 1.5em">
            <div class="glyph-icon flaticon-github"></div>
        </a>
        <a href="https://youtu.be/xJP9lcZyfJw" style="font-size: 1.5em">
            <div class="glyph-icon flaticon-youtube31"></div>
        </a>
        <a href="https://instagram.com/shogo_ni?igshid=OGQ5ZDc2ODk2ZA==">
            <div class="glyph-icon">
                <img src="assets/img/insta.svg" style="width: 60px; height: 60px; margin-top: 4.5px" alt="">
            </div>
        </a>
    </div>

    <hr class="bar"/>
    <p style="font-size: 1.5em;">e-mail:</p>
    <a href="mailto:nishimura.shogo.nj0@atr.jp" style="font-size: 1.5em; vertical-align: baseline;">nishimura.shogo.nj0@atr.jp</a>
</section>
