<footer>
  <div class="lockup">
    <div class="content-wrap">
      <nav>
        <a href="/#about-me"><button>Profile</button></a></button>
        <a href="/#Experenice"><button>History</button></a>
        <a href="/#Blog"><button>Blog</button></a>
        <a href="/#Details"><button>Contact Me</button></a>
      </nav>
      <br>
      <h3 class="copyright" style="text-shadow: black 2px 2px; text-align: left; padding-top: 0px"><font color="white" weight="700">©︎Shogo Nishimura 2023</font></h3>
    </div>
  </div>
</footer>