<footer>
  <div class="lockup">
    <div class="content-wrap">
      <nav>
        <a href="#about-me" style="color:inherit; text-decoration: none"><button>Home</button></a>
        <a href="#Experenice" style="color:inherit; text-decoration: none"><button>History</button></a>
        <a href="#Blog" style="color:inherit; text-decoration: none"><button>Blog</button></a>
        <a href="#Details" style="color:inherit; text-decoration: none"><button>Contact Me</button></a>
      </nav>
      <br>
      <h3 class="copyright">©︎Shogo Nishimura 2023</h3>
    </div>
  </div>
</footer>
