<!-- <div id="container" class="arrow"></div> -->
<!-- <div id="container" class="logo"></div> -->

<header id="home">
  <div class="container-video">
    <nav class="top-nav">
      <a href="#about-me">
        <font color="#303e49">Profile</font>
      </a>
      <a href="#Experenice">
        <font color="#303e49">History</font>
      </a>
      <a href="#Blog">
        <font color="#303e49">Blog</font>
      </a>
      <a href="#Details">
        <font color="#303e49">Contact Me</font>
      </a>
    </nav>
    <video src="/assets/media/osaka.mp4" type="video/mp4" muted autoplay playsinline loop>
    </video>
  </div>
</header>
